body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    position: sticky; top: 0;


}
.hero{
    display: flex;
    color: white;
    justify-content: space-between;
    padding-inline: 200px;

}
.herocontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quote{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    padding-inline: 45px;

}
.quote h5{
    color: red;
}

.cta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.ctatext{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;

}


.footer, .header, .hero, .quote {
     background-color: black;

}